<div class="ui-g">
  <div class="ui-g-12">
    <p-growl></p-growl>
    <p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirmacao>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacao.reject()"></button>
      </p-footer>
    </p-confirmDialog>
    <p-panel header="Listagem de pessoas">

      <form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g">
          <div class="ui-g-3 ui-fluid">
            <label>Nome</label> <br/>
            <input pInputText type="text" style="width:100%" name="nome" [(ngModel)]="filtro.nome" />
          </div>

          <div class="ui-g-2 ui-fluid">
            <label>CPF</label> <br/>
            <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="filtro.cpf"></p-inputMask>
          </div>

          <div class="ui-g-2 ui-fluid">
            <p-button label="Pesquisar" icon="pi pi-search" iconPos="left" style="padding-top:18px"></p-button>
          </div>

          <div class="ui-g-2 ui-fluid">
            <p-button label="Cadastrar" icon="pi pi-plus-circle" iconPos="left" style="margin-top:18px" styleClass="ui-button-success" [routerLink]="['/cadastro']"></p-button>
          </div>
        </div>
      </form>


      <br/>

      <div class="ui-g">

        <div class="ui-g-12">

          <p-table [value]="pessoas" [paginator]="true" [rows]="filtro.pessoasPorPagina" [responsive]="true" [lazy]="true" [totalRecords]="qtdRegistros"
            (onLazyLoad)="mudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Idade</th>
                <th>Qtd. Telefones</th>
                <th class="col-acoes">Ações</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-pessoa>
              <tr>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.email}}</td>
                <td>{{pessoa.cpf}}</td>
                <td>{{pessoa.idade}}</td>
                <td>{{pessoa.quantidadeTelefones}}</td>
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="left" [routerLink]="['/pessoas', pessoa.id]"></a>
                  <button pButton icon="pi pi-times" style="margin-left: 5px;" pTooltip="Deletar" (click)="confirmarDeletar(pessoa)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">Nenhuma pessoa adicionada.</td>
              </tr>
            </ng-template>
          </p-table>

        </div>

      </div>

    </p-panel>
  </div>

</div>